body{
    font-family: Dosis,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

h3{
    padding: 40px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

h4{
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
}

h5{
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

h6{
    padding: 8px;
    font-size: 20px;
    font-weight: bolder;
    color: gray;

}

p{
    margin: 0 0 8px;
}

#nom-cocktail{
    padding: 40px;
    color: #D91B1E;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: bolder;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#logo-type-verre img{
    align-items: center;
    height: 120px;
    width: 120px;
    max-height: 150px;
    max-width: 150px;
}

#titre-recette{
    padding-top: 30px;
}

#bloc-central-img-recette{
    padding: 10px;
}

#img-cocktail img{
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#titre-ingredients{
    padding-bottom: 0;
    font-size: 40px;
    text-align: left;
}

#liste-ingredients-dosage{
    font-size: 25px;
    padding: 20px;
    text-align: left;
}

#description-recette{
    font-size: 25px;
    text-align: left;
}

#bloc-liste-courses{
    background-color: rgb(167, 207, 31, 0.8);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.bloc-ingredient{
    padding: 0;
    height: 300px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.bloc-ingredient img{
    height: 70%;
    width: auto;
}

#suggestions-cocktail{
    display: inline;
}

.you-ll-also-like-div{
    object-fit: cover;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.you-ll-also-like-div:hover{
    background-color: rgba(187, 233, 21, 0.4);
}

/** page_recherche_cocktail **/

.search-cocktail-div{
    align-items: center;
    display: inline;
}
