.decalage-leger-droite{
    position: relative;
    left: 50px;
}

.border{
    border: black solid 2px;
}

.center{
    height: 70%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

body h1{
    font-family: 'Dosis', sans-serif;
    color:  rgb(194, 221, 99);
}

body h2{
    padding: 3%;
    text-align: center;
    color: rgb(171, 192, 4);
}


::placeholder{
    color: black;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
}

ul, li{
    margin: auto;
    list-style-type: none;
}

a, a:focus, a:active {
    text-decoration: none;
    color: rgb(231, 235, 229);
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color:  rgb(255, 110, 5);
    cursor: pointer;
}

/* Nav Bar */
#logo{
    height: 90px;
    width: 90px;
}

#app-title{
    font-family: Russo One, Arial;
    font-weight: bolder;
    color: rgb(171, 192, 4);
    font-size: 3vw;
}

#logo-nom{
    width: 50%;
    display: inline-block;
}

#navbarNavDropdown{
    font-family: Russo One, Arial;
    font-size: 20px;
    font-weight: bolder;
    width: 50%;
}

.dropdown-item{
    color: white;
}

.dropdown-menu{
    background-color:rgb(52, 58, 64); 
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

#navbarDropdownMenuLink-1:hover, #navbarDropdownMenuLink-2:hover{
    color: rgb(255, 110, 5);
}

#navbarDropdownMenuLink-1:after{
    color: rgb(255, 110, 5);
    position: absolute;  
    bottom: -10px;
    height: 10px;
    width: 100%;
    left: 0;
    display: block;
}

/* Body */
.padding-zero{
    padding-left: 0;
    padding-right: 0;
}

#main-block-background-img{
    background-image: url(./Images/page_accueil/pexels-luna-lovegood-4087656.jpg);
    height: 500px;
    background-size: cover;
    max-width: 100%;
}

#central-title{
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#search-input{
    border: none;
    width: 80%;
    padding: 2%;
    background-color: rgb(240, 229, 228, 0.5);
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#search-input[type=search]{
    font-family: 'Dosis', sans-serif;
    color: black;
}

#search-button{
    width: 100%;
    background-color: rgb(240, 229, 228, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#img-band{
    background-color: rgb(55, 53, 54);
    color: blanchedalmond;
}

#band-drink-selection{
    background-color: rgb(55, 53, 54); 
}

.drink-picture{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.cocktail-picture img{
    display: block;
    margin: auto;
    object-fit: cover;
}

.cocktail-div{
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.cocktail-div:hover{
    opacity: 0.7;
}

.cocktail-title{
    font-family: 'Dosis',Arial,sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin: 3%;
    text-align: center;
    color: orange;
}

#cocktail-art{
    background-color: rgb(194, 221, 99);
}

#cocktail-art-title{
    padding-bottom: 1%;
}

.video-div{   
    padding: 2%;
}

.video-div iframe{
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
}

.img-fluid img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Footer */
#footer{
    color: rgb(99, 100, 98);
    text-align: center;
    font-family: Russo One, Arial;
    border: solid 1px black;
    font-size: 20px;
}

#footer a, a:focus, a:active {
    text-decoration: none;
    color: rgb(231, 235, 229);
    cursor: pointer;
}

#footer a:hover{
    text-decoration: none;
    color:  rgb(255, 110, 5);
    cursor: pointer;
}

#bottom-area{
    color: rgb(171, 192, 4);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
}

.main-menu{
    text-align: center;
    justify-content: center;
}

#rights{
    font-family: Russo One, Arial;
    font-size: 15px;
    text-align: center;
    color: rgb(231, 235, 229);
}